# Ignorer les répertoires
Raw_data/
venv/
.ipynb_checkpoints

# Ignorer tous les fichiers d'extension
*.ipynb
*.csv
*.pptx

# Exemple d'autres fichiers ou répertoires communs à ignorer
node_modules/
.DS_Store
.env
dist/
build/
credentials.py
